<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Parulava">

    {% block title %}{% endblock %}

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">

</head>
    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <br>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <br>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}



    {% block content %}

    <br>
    <hr>

    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

    </body>
</html>