
{% extends 'main.html' %}

{% block title %} <title>ჩვენს შესახებ</title>{% endblock %}

{% block content %}

{% load static %}

{% include 'newborn/heading.html' %}

<section class="section" id="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">ბუნებაში</h6>
                    <h6 class="section-subtitle mb-4">არის კომპანია რომელიც აერთიანებს სხვადასხვა სერვისებს.</h6>
                    <p >ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                    <img src="{% static 'images/buneba1.jpg'%}" alt="" class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static 'images/buneba2.jpeg'%}" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'images/buneba3.jpg'%}" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-12 mt-4">
                            <p >ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                            <p><b>წამოი ჯო ბუნებაში</b><br>
                            </p>
                            <p >ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'newborn/footer.html' %}

{% endblock %}
