{% extends 'main.html' %}

{% block title %} <title>მთავარი</title>{% endblock %}

{% block content %}
{% load static %}

<header class="header">
    <img src="{% static 'images/header_kHNTmwZ.jpg' %}" width="100%">
    <div class="overlay">
        <br><br>
        <h1 class="subtitle">შექმენი უნიკალური სერვისები ჩვენთან ერთად.</h1>
        <img src="{% static 'images/wamoibunebashi1.png' %}" alt="წამოი ბუნებაში!">
        <a href="{% url 'signup' %}"><button type="button" class="btn btn-warning">შემოგვიერთდი</button></a>
    </div>

    <div class="shape">
        <br>
        <svg viewBox="0 0 1500 200">
            <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
        </svg>
    </div>
    <div class="mouse-icon"><div class="wheel"></div></div>
</header>

    <section  id="service" class="section pt-0">
        <div class="container">
            <h6 class="section-title text-center">რატომ ბუნებაში?</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">ჩვენ ვაერთიანებთ იმას რაც მნიშვნელოვანია</h6>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">01</small>
                            <h5 class="card-title mt-3"> წარმატება <h5>
                            <p class="mb-0">ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">02</small>
                            <h5 class="card-title mt-3">ერთობა<h5>
                            <p class="mb-0">ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">03</small>
                            <h5 class="card-title mt-3">გართობა<h5>
                            <p class="mb-0">ლორემ იპსუმ მოწმეებმა უტევანი ნასიამოვნებნი ტელეტექნოლოგიებს დისტანცია, გიორგისთან მოდებულიყო სვანაძემ. მოიყარა ღირსებით ჩააფიქროს დაამატებდა, გმირებად გვეჩვენებინა პირამიდების მომიცია მოვედით სტოვებს მოკლებული, ახელს, ცისფერატლასისსარჩულიანი ეძინათ დატანჯული. განლაგებულია ტელეტექნოლოგიებს გაგლისა იდევ ჭკუასთან დაამატებდა შიში, გვეხატებოდა გალავანში რადიოსადგურებმა.

</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'newborn/footer.html' %}

{% endblock %}
